<h2>Bli medlem i Filmriket.</h2>
<p>
Välkommen till Filmriket!  Här fyller du  i de uppgifter som behövs för att bli medlem i en av Filmrikets Filmklubbar. Fyll i dina personuppgifter. Är du under 18 år vill vi ha kontaktuppgifter till någon av dina föräldrar. Skriv ifall du vill starta en ny Filmklubb eller gå med i en som redan finns. Välj din avatar och betala medlemsavgiften om 100 kr.
</p>