<% if current_user %>
    <% if current_user.access == 2 %>
        <div class="row">
          <div class="large-10 large-centered medium-10 medium-centered columns" id="js-fix">
            <%= render 'form' %>
            <br>
            <div class="row">
                <% @admin_images.each do |admin| %>
                      <div class="large-6 columns medium-6 movie-box-wrapper">
                        <h4 class="index-heading">&nbsp;</h4>
                        <div class="content-wrapper">
                          <div class="large-8 large-centered medium-8 medium-centered columns content">
                            <img src="<%= admin.img %>" height="255" width="330"/><br>
                            <%= admin.img %><br>
                            <%= link_to '<p>Ta bort</p>'.html_safe, admin, method: 'DELETE' %>

                          </div>
                        </div>
                      </div>
                <% end %>
            </div>
        </div>
      </div>
    <% end %>
<% end %>
