<% @bookings_done.each do |booking| %>
	<tr class="b_head">
		<td class="b_content"><%= booking.movie.title %></td>
		<td><%= booking.user.club.name %></td>
		<td class="buttons"><%= link_to 'Förstör', booking, method: :delete, data: { confirm: 'Are you sure?' }, :class => "button tiny radius alert" %></td>
	</tr>
<% end %>