<div class="row full-width">
	<div class="large-12 large-centered medium-12 medium-centered columns topbar">
		<div class="large-9 medium-9 columns">
			<%= link_to image_tag('filmriket-logga.png'), root_path, class: 'menu-text-no-background' %>
		</div>
		<div class="large-3 medium-3 columns social-media-icons">
			<ul class="small-block-grid-3">
				<li><%= link_to image_tag('facebook.png'), 'https://www.facebook.com/filmriket', target: '_blank', class: 'social-media-links menu-text-no-background' %></li>
				<li><%= link_to image_tag('instagram.png'), 'https://instagram.com/filmriket/', target: '_blank', class: 'social-media-links menu-text-no-background' %></li>
				<li><%= link_to image_tag('youtube.png'), 'https://www.youtube.com/channel/UCuzAwSefmZlfEXxQohkf_ww', target: '_blank', class: 'social-media-links menu-text-no-background' %></li>
			</ul>
		</div>
	</div>
	<br>
</div>