<div class="row full-width">
    <div class="large-12 large-centered medium-12 medium-centered columns topbar">
        <div class="large-9 medium-9 columns">
            <%=link_to image_tag('filmriket-logo.png'), root_path %>
        </div>
        <div class="large-3 medium-3 columns social-media-icons">
          <ul class="small-block-grid-3">
            <li><%= link_to image_tag('facebook.png'), 'https://www.facebook.com/filmriket', target: '_blank', class: 'social-media-links' %></li>
            <li><%= link_to image_tag('instagram.png'), 'https://instagram.com/filmriket/', target: '_blank', class: 'social-media-links' %></li>
            <li><%= link_to image_tag('youtube.png'), 'https://www.youtube.com/channel/UCuzAwSefmZlfEXxQohkf_ww', target: '_blank', class: 'social-media-links' %></li>
         </ul>
        </div>
    </div>
</div>

