<div class="row">
  <div class="large-10 large-centered medium-10 medium-centered columns margin-top-fix" id="js-fix">
    <div class="row">
        <div class="large-6 columns contact-box">
          <p class="contact-text-white">Kontakta:</p>
            <p class="contact-text">Lisa Karlsson</p>
            <p class="contact-text">Projektledare</p>
            <p class="contact-text">0706187295</p>
            <p class="contact-text">micke@filmriket.nu</p>
            <div class="contact-circle"></div>
        </div>

        <div class="large-6 columns contact-box">
          <p class="contact-text-white">Kontakta:</p>
          <p class="contact-text">Lisa Karlsson</p>
          <p class="contact-text">Projektledare</p>
          <p class="contact-text">0706187295</p>
          <p class="contact-text">micke@filmriket.nu</p>
          <div class="contact-circle"></div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns contact-box">
          <p class="contact-text-white">Kontakta:</p>
          <p class="contact-text">Lisa Karlsson</p>
          <p class="contact-text">Projektledare</p>
          <p class="contact-text">0706187295</p>
          <p class="contact-text">micke@filmriket.nu</p>
          <div class="contact-circle"></div>
        </div>
        <div class="large-6 columns contact-box">
          <p class="contact-text-white">Kontakta:</p>
          <p class="contact-text">Lisa Karlsson</p>
          <p class="contact-text">Projektledare</p>
          <p class="contact-text">0706187295</p>
          <p class="contact-text">micke@filmriket.nu</p>
          <div class="contact-circle"></div>
        </div>
    </div>
  </div>
</div>
