<div class="row">
	<div class="large-10 large-centered medium-10 medium-centered columns margin-top-fix" id="js-fix">
		<div class="row">
			<div class="large-6 columns popup-grey contact-box">
				<p class="contact-text-white">Kontakta:</p>
				<p class="contact-text">Kicki Rydemalm</p>
				<p class="contact-text">kicki@reaktorsydost.se</p>
				<p class="contact-text">0733 47 79 12</p>
				<div class="contact-circle"><%= image_tag('rating.png', size: "120")%></div>
			</div>
			<div class="large-6 columns popup-grey contact-box">
				<p class="contact-text-white">Kontakta:</p>
				<p class="contact-text">Martin Klevegård</p>
				<p class="contact-text">martin.klevegard@bilda.nu</p>
				<p class="contact-text">0768 64 80 88</p>
				<div class="contact-circle"><%= image_tag('rating.png', size: "120")%></div>
			</div>
		</div>
	</div>
</div>
