  <div class="row">
    <div class="large-10 large-centered medium-10 medium-centered columns centering-fix" id="js-fix">
        <div class="row">
          <div class="large-6 columns medium-6 movie-box-wrapper" data-equalizer="testt">
            <h4 class="index-heading">Vad är Filmriket</h4>
            <div class="large-8 large-centered mediunm-8 medium-centered columns content-video" data-equalizer-watch="testt">

              <div class="video-container">
                <%= raw(youtube_embed('https://www.youtube.com/watch?v=9W3JtRwJe3o')) %>
              </div>

            </div>
          </div>
          <div class="large-6 columns medium-6 movie-box-wrapper">
            <h4 class="index-heading">Nyheter</h4>
            <div class="content-wrapper">
                <div class="large-8 large-centered mediunm-8 medium-centered columns content">
                  <%= link_to image_tag('mockup.jpg'), news_index_path %>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 columns medium-6 movie-box-wrapper">
            <h4 class="index-heading">Om Filmriket</h4>
            <div class="content-wrapper">
              <div class="large-8 large-centered mediunm-8 medium-centered  columns content">

                <%= link_to image_tag('mockup.jpg'), about_path, 'data-no-turbolink' => true %>

              </div>
            </div>
          </div>
          <div class="large-6 columns medium-6 movie-box-wrapper">
            <h4 class="index-heading">Filmskolan</h4>
            <div class="large-8 large-centered columns mediunm-8 medium-centered  content-video">

              <div class="video-container">
                <%= raw(youtube_embed('https://www.youtube.com/watch?v=i5YY-XZO6-E')) %>
              </div>

            </div>
          </div>
        </div>
    </div>
  </div>



