<% @filmschool_comments.each do |comment| %>
    <div class="comments_list">
      <img src="/<%= comment.user.avatar %>.png" id="thumb" alt="avatar" width="40" height="40">
      <strong><%= comment.user.firstname %>: </strong> <%= comment.message %>
      <hr>
    </div>
<% end %>
