/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 //= require foundation_and_overrides

 *= require gallery/touch_touch
 *= require footable-on-rails
 *= require masonry/basic
 */
@import "foundation_and_overrides";


body {
  background-color: #c2dad1;
  font-family: Calibri, Tahoma, Arial, Serif!important;
  font-weight: bold;
}

h2 {
  font-family: Calibri, Tahoma, Arial, Serif!important;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff!important;
}

p {
  font-family: Calibri, Tahoma, Arial, Serif!important;
  color: #ffffff!important;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.sidebar-width {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.black-links {
	a:link, a:visited, a:hover, a:active {
	  text-decoration: none!important;
	  background: none;
	  color: black!important;
	}
}

.grey-background {
  background-color: #99968E;
}

.grey-background:hover, .grey-background:active, .grey-background:visited, .grey-background:link {
  background-color: #EC3623!important;
}

.sidebar-width a:link, a:visited, a:hover, a:active {
	  text-decoration: none!important;
	  color: #c2dad1;
}

.white-text {
  color: #ffffff!important;
  font-weight: bold;
  padding-left: 5px;
  a:link, a:visited, a:hover, a:active
  {
    color: #008cba!important;
  }
}

.popup-grey {
  background-color:#99968E;
}

.popup-red {
  background-color:#EC3623;
}

.white-text a:hover {
  text-decoration: underline!important;
}


@media only screen and (min-width: 1800px) {
  .media-container {
    margin-left: 70px!important;
  }
}

@media only screen and (min-width: 1300px) and (max-width:1500px) {
  .media-container {
    margin-left: 115px!important;
  }
}


@media only screen and (min-width: 1100px) and (max-width:1290px) {
  .media-container {
    margin-left: 40px!important;
  }
}

@media only screen and (min-width: 930px) and (max-width:1100px) {
  .media-container {
    margin-left: 50px!important;
  }
}


@media only screen and (min-width: 640px) and (max-width:680px) {
  .media-container {
    margin-left: 25px!important;
  }
}

@media only screen and (min-device-width : 470px) and (max-device-width : 490px) and (orientation : landscape) {
  .media-container {
    margin-left: 75px!important;
  }
}

@media only screen and (min-device-width : 560px) and (max-device-width : 570px) and (orientation : landscape) {
  .media-container {
    margin-left: 120px!important;
  }
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : landscape) {
  .media-container {
    margin-left: 60px!important;
  }
}

@media only screen and (min-device-width : 700px) and (max-device-width : 800px) and (orientation : portrait) {
  .media-container {
    margin-left: 80px!important;
  }
}

@media only screen and (min-device-width : 370px) and (max-device-width : 390px) and (orientation : portrait) {
  .media-container {
    margin-left: 26px!important;
  }
}

@media only screen and (min-device-width : 350px) and (max-device-width : 370px) and (orientation : portrait) {
  .media-container {
    margin-left: 20px!important;
  }
}

@media only screen and (min-device-width : 390px) and (max-device-width : 420px) and (orientation : portrait) {
  .media-container {
    margin-left: 40px!important;
  }
}

@media only screen and (min-device-width : 580px) and (max-device-width : 620px) and (orientation : portrait) {
  .media-container {
    margin-left: 130px!important;
  }
}

@media only screen and (min-device-width : 630px) and (max-device-width : 660px) and (orientation : landscape) {
  .media-container {
    margin-left: 12px!important;
  }
}

.content {
	height:auto!important;
}