// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.scss.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

button#book_button    {
  background: asset-data-url('boka.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 95%;
  height:60px;
  border: 0;
}

button#book_button:hover {
  background: asset-data-url('boka-hover.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.bookings_box {
  text-align: center;
}

.boookings_box{
  h1{
    text-align: center;
  }
  .bookings_h1{
    padding-top: 50px;
    text-align: center
  }
}

th.b_head2 {
  padding: 5px !important;
  padding-right: 90px !important;
}

tr.b_head {
  padding: 5px !important;
  padding-right: 90px !important;
}

td.buttons{
  padding: 5px !important;
  float: right !important;
  padding-right: 2px !important;
}

td.content{
  padding: 5px !important;
  padding-right: 90px !important;
}

@media only screen and (max-width: 760px){
  h1 {
    font-size: 20px!important;
  }
}