// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.scss.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
  min-width: 285px!important;
}

.movie-title {
  font-size: 26px;
  font-family: Calibri, Tahoma, Arial, Serif!important;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 0;
  line-height: 25px;
}

.description-fix {
  color: #FFFFFF!important;
  font-size: 14px!important;
  font-family: Calibri, Tahoma, Arial, Serif!important;
  font-weight: normal!important;
  font-style: normal!important;
  line-height: 16px!important;

	p, h1, h2, h3, h4, span, a {
		color: #8f8f8e!important;
	}
  
  p, a, span, h2, h3, b {
    font-size: 14px!important;
    font-family: "calibri", sans-serif, Verdana!important;
    font-weight: normal!important;
    font-style: normal!important;
    line-height: 16px!important;
    margin: 0!important;
    padding: 0!important;
  }
}

.average-rating {
  background: asset-data-url('average-rating.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  width: 100%;
  height: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding-top: 8px;
  font-size: 19px;
  font-weight: bold;
  color: #ca380c;
}

.no-padding {
  padding: 0px!important;
}

.user-rating {
  width: 200px;
  min-height: 40px;
  margin-top: 25px;
  margin-left: auto!important;
  margin-right: auto!important;
}

.stars-wrap {
  width: 100%;
  height: 100%;
  margin-left: auto!important;
  margin-right: auto!important;
}

.stars-first {
  width: 100%;
  height: 100%;
  display: none;
}

.empty-star{
  width: 20%;
  height: 30px;
  background: asset-data-url('rating-empty.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  float: left;
}

.full-star{
  width: 20%;
  height: 30px;
  background: asset-data-url('rating.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  float: left;
}

div.stars-0-user, div.stars-1-user, div.stars-2-user, div.stars-3-user, div.stars-4-user, div.stars-5-user {
  width: 100%;
  height: 100%;
  display: none;
}

div.empty-star{
  width: 20%;
  height: 30px;
  background: asset-data-url('rating-empty.png');
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  float: left;
  cursor: pointer;
}

div.full-star{
  width: 20%;
  height: 30px;
  background: asset-data-url('rating.png');
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  float: left;
  cursor: pointer;
}

div.big-star{
  background-image: url("../assets/bigstar.png");
  background-repeat: no-repeat;
  background-size: 56px 55px;
  width: 56px;
  height: 55px;
  margin: auto;
  float: left;
  cursor: pointer;
}

.margin-fix {
  margin-top: 15px;
}

.comments_list {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.rating{
  padding-left: 0px;
  line-height: 28px;
}

.movie-container {
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radiys: 25px;
  -o-border-radius: 25px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  margin-bottom: -10px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.width-fix {
  width: 280px!important;
}

.image {
  z-index: -99!important;
  position: relative;
  text-align: center;
}

.bordered-grey {
  border: 1px solid #666;
}

.marg-fix {
  margin-top: -10px;
}

.rounded {
  background: #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radiys: 25px;
  -o-border-radius: 25px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  min-height: 75px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  z-index: 9999!important;
  margin-top: -20px;
}

.reveal-modal {
  border-radius: 125px!important;
  -webkit-border-radius: 125px!important;
  -moz-border-radius: 125px!important;
  -o-border-radius: 125px!important;
}

.movie {
  background: #ffffff;
  min-height: auto!important;
}

input#movie_title, input#movie_description, input#movie_director, input#movie_genre, input#movie_playtime, input#movie_published, input#movie_trailerlink, input#movie_videocover {
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

div.comments_wraper_m {
  width: 100%;
  height: auto!important;
}

.height-fix {
  padding-top: 20px;
  height: 70px;
}

.img-fix img {
  height: 38px!important;
}

.left-fix {
  margin-left: -30px;
}

.center-text {
  text-align: center;
}

.movie-picture {
  max-width: 350px;
  height: auto;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  overflow: hidden;
  text-align: center!important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.movie-text {
  color: #FFF!important;
  font-family: Calibri, Tahoma, Arial, Serif!important;
  font-weight: normal!important;
  font-style: normal!important;
  margin-bottom:0px!important;
  line-height:1.3!important;
  p, b, a, span, h2 {
    color: #FFF!important;
    font-family: Calibri, Tahoma, Arial, Serif!important;
    font-weight: normal!important;
    font-style: normal!important;
    padding: 0!important;
    margin: 0!important;
  }
}

div.info{
  height: auto;
  width: auto;
  float: left;
  color: #424242;
}

@media only screen and (max-width: 800px){
  .reveal-modal {
    border-radius: 20px!important;
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -o-border-radius: 20px!important;
  }

  div.info{
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 0px !important;
  }
  
  .movie-box-wrapper {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
  }
}

#movie-modal {
  padding: 5px;
}