// Place all the styles related to the News controller here.
// They will automatically be included in application.css.scss.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news {
  text-align: center;
}

input#news_title {
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}
