// Place all the styles related to the News controller here.
// They will automatically be included in application.css.scss.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.news {
  text-align: center;
}

input#news_title {
  width: 100%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.bordered {
  border: 1px solid black;
}

.news-content {
  text-align: left!important;
}

.news-border {
  width: 100%;
  height: 45px;
  text-align: center;
  background: url(news-border.png);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center;
  margin-bottom: 5px;
}

p.news {
  color: #ffffff!important;
}

.content-img {
  border: 3px solid #ffffff;
  padding: 0!important;
  height: 219px;
}

@media only screen and (min-width: 1700px) {
  .big-screen-fix {
    margin-top: 0px;
  }

  .big-screen-content {
    width: 500px;
  }
}
