<p>Hej <%= @resource.email %>!</p>

<p>Du har begärt att byta lösenord, klicka på länken nedan.</p>

<p><%= link_to 'Ändra mitt lösenord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Om du inte har begärt att byta lösenord, ignorera detta mail.</p>
<p>Ditt lösenord byts när du klickar på länken och väljer ett nytt.</p>
