<div class="large-10 large-centered medium-10 medium-centered columns" id="js-fix">
	<h2>Ladda upp video till Youtube</h2>
	<div class="row">
		<%= form_tag @upload_info[:url], :multipart => true do %>
			<%= hidden_field_tag :token, @upload_info[:token] %>
			<span class="button expand btn-file">
				Välj fil
				<%= file_field_tag :file %>
			</span>
			<%= submit_tag "Ladda upp", class: 'button expand' %>
		<% end %>
	</div>
</div>